* {
   margin: 0;
   padding: 0;
}

button {
   all: unset;
}

%decoration {
   border-radius: 5px;
   border: 1px solid;
   padding: 10px;
}

.collapse {
   margin: 30px;
   height: 60px;
   overflow: hidden;
   box-sizing: border-box;
   padding: 5px;

   .collapse__button {
      @extend %decoration;
      border-color: black;
      background-color: #0062cb;
      color: white;

      &:hover {
         box-shadow: 0 0 5px 2px blue;
      }
   }

   .collapse__text {
      @extend %decoration;
      box-sizing: border-box;
      margin-top: 20px;
      border-color: #16212c21;
   }
}

